* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  display: flex;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

/* countries list */

.wrap {
  margin: 0 auto;
}

.country-list,
.country-item-list,
.country-lang-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.country-item {
  display: flex;
  align-items: center;
  font-size: 24px;
}

.country-img {
  margin-right: 10px;
  /* display: block; */
}

.country-title {
  font-size: 30px;
  font-weight: 700;
}

.country-item-one {
  display: flex;
  gap: 10px;
  font-size: 26px;
  font-weight: 600;
}

.country-item-one:not(:last-child) {
  margin-bottom: 10px;
}

.country-item-name,
.country-item-lang {
  font-size: 24px;
  font-weight: 400;
}

.country-item-lang:not(:last-child)::after {
  content: ',';
}

.country-lang-list {
  display: flex;
  gap: 10px;
}
